.navContainer {
  background-color: #ced6e0;
  line-height: 70px;
  font-size: large;
  position: fixed;
  width: 100%;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

li {
  margin: 5px;
  float: left;
}

li a {
  color: #333;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

li a:hover {
  background-color: #b5bcc7;
  color: white;
  border-radius: 10px;
  height: 50%;
}

li a.active {
  background-color: #2f3542;
  color: white;
  border-radius: 10px;
  height: 50%;
}
